body {
  font-family: Helvetica, sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
  min-width: 580px;
  max-width: 580;
  width: 580;
  min-height: 200px;
  height: 440px;
  margin: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#search_bar{
   position: absolute;
    top: 5px;
    left: 130px;
    width: 395px;
    height: 20px;
    border: 2px solid #909090;
    border-radius: 8px;
	font: 18px/18px "Arial", "SansSerif";
	letter-spacing: -1px;     
}

.search_button{
    opacity: 1.0;
}

.search_button:hover{
    opacity: 0.7;
    cursor: pointer;
}

#search_button_google{
    position: absolute;
    top: 10px;
    left: 5px;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border: none;
	width: 20px;
	height: 20px;    
}

#search_button_twitter{
    position: absolute;
    top: 10px;
    left: 30px;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -22px 0px;
	border: none;
	width: 20px;
	height: 20px;      
}

#search_button_facebook{
    position: absolute;
    top: 10px;
    left: 55px;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -44px 0px;
	border: none;
	width: 20px;
	height: 20px;      
}

#search_button_quora{
    position: absolute;
    top: 10px;
    left: 80px;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -66px 0px;
	border: none;
	width: 20px;
	height: 20px;      
}

#search_button_wikipedia{
    position: absolute;
    top: 10px;
    left: 105px;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -88px 0px;
	border: none;
	width: 20px;
	height: 20px;      
}

#button_clear{
    position: absolute;
    top: 12px;
    left: 545px;
	background-image: url(../img/sprite.png);
	background-repeat: no-repeat;
	background-position: -110px 0px;
	border: none;
	width: 14px;
	height: 18px;      
}

#search_bar_div{
    height: 30px;
    margin-left: auto;
    margin-right: auto;
}

#cloud_div{
    position: absolute;
    top: 40px;
    left: 0px;
}

.tag{
    cursor: normal;
    opacity: 1.0;
}

.tag:hover{
    cursor: pointer;
    opacity: 0.5;
}

.separator{
    margin-top: 10px;
}

.hline{
    margin-top: 1px;
    margin-bottom: 1px;
    margin-left: auto;
    margin-right: auto;
}

#hline-div {
    padding-left: 0px;
    padding-right: 0px;
    margin-left: auto;
    margin-right: auto;    
}

#helpHeader {
    padding-bottom: 0px;
}

#helpTab {
    margin-bottom: 0px;
}

#helpShiftClickImg{
	background-image: url(../img/help_sprite_A.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border: none;
	width: 240px;
	height: 80px; 
    margin-top: 5px;
    margin-left: 10px;    
}

#helpAltClickImg{
	background-image: url(../img/help_sprite_A.jpg);
	background-repeat: no-repeat;
	background-position: 0px -80px;
	border: none;
	width: 240px;
	height: 80px; 
    margin-top: 5px;
    margin-left: 10px;
}

#helpLeftClickImg{
	background-image: url(../img/help_sprite_A.jpg);
	background-repeat: no-repeat;
	background-position: -194px 0px;
	border: none;
	width: 50px;
	height: 80px;
    margin-left: 10px;
}

#helpRightClickImg{
	background-image: url(../img/help_sprite_A.jpg);
	background-repeat: no-repeat;
	background-position: -164px 0px;
	border: none;
	width: 80px;
	height: 80px;
    margin-left: 12px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";    
}

#helpRightClickNoPlusImg{
	background-image: url(../img/help_sprite_A.jpg);
	background-repeat: no-repeat;
	background-position: -194px 0px;
	border: none;
	width: 50px;
	height: 80px;
    margin-left: 12px;
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";    
}

#helpPlusImg{
	background-image: url(../img/help_sprite_A.jpg);
	background-repeat: no-repeat;
	background-position: -164px 0px;
	border: none;
	width: 30px;
	height: 80px; 
}

#helpTagClickImgSmall{
	background-image: url(../img/help_sprite_A.jpg);
	background-repeat: no-repeat;
	background-position: 0px -160px;
	border: none;
	width: 110px;
	height: 60px;
    margin: 5px;
}

#helpTagClickImg{
	background-image: url(../img/help_sprite_A.jpg);
	background-repeat: no-repeat;
	background-position: 0px -160px;
	border: none;
	width: 120px;
	height: 60px;
    margin: 5px;
}

#helpTagUnClickImg{
	background-image: url(../img/help_sprite_A.jpg);
	background-repeat: no-repeat;
	background-position: -120px -160px;
	border: none;
	width: 120px;
	height: 60px;
    margin: 5px;
}

#helpTagRightClickImg{
	background-image: url(../img/help_sprite_A.jpg);
	background-repeat: no-repeat;
	background-position: 0px -220px;
	border: none;
	width: 210px;
	height: 60px;
    margin: 5px;
}

#helpSearchImg{
	background-image: url(../img/help_sprite_B.jpg);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	border: none;
	width: 400px;
	height: 168px;
    
}

#helpTranslateImg{
	background-image: url(../img/help_sprite_B.jpg);
	background-repeat: no-repeat;
	background-position: 0px -168px;
	border: none;
	width: 400px;
	height: 174px;
}

#helpAddressBarImg{
	background-image: url(../img/help_sprite_A.jpg);
	background-repeat: no-repeat;
	background-position: 0px -280px;
	border: none;
	width: 200px;
	height: 20px;
}

#helpOptionsImg{
	background-image: url(../img/help_sprite_B.jpg);
	background-repeat: no-repeat;
	background-position: 0px -342px;
	border: none;
	width: 400px;
	height: 115px;
}

#helpBox{
    position: absolute;
    top: 0px;
    right: 0px;
    border-left: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-left-radius: 8px;
    padding-left: 2px;
}

.helpText {
    margin-top: 10px;
    width: 98%;
    margin-left: auto;
    margin-right: auto;
    cursor: normal;
	font: 16px/16px "Arial", "SansSerif";
	letter-spacing: -1px;  
    text-align: center;
    font-weight: bold;
}

.helpRowText {
    margin-left: auto;
    margin-right: auto;
    cursor: normal;
	font: 16px/16px "Arial", "SansSerif";
	letter-spacing: -1px;  
    text-align: center;
    font-weight: bold;
}

#bigPlus {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    cursor: normal;
	font: 48px/48px "Arial", "SansSerif"; 
    text-align: center;
    font-weight: bold;
}

.helpTab{
    border: 2px solid black;
    border-radius: 10px;
}

#helpTabNoBorder{
    margin-left: auto;
    margin-right: auto;
}

#helpMark {
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-top: 2px solid black;
    border-right: 2px solid black;
    border-top-right-radius: 10px;
    padding-right: 2px;
    color: white;
}

#tagsTab{
    padding-left:0px;
    padding-right:0px;
}

#highlightTab{
    padding-left:0px;
    padding-right:0px;
}

#tagsTab{
    padding-left:0px;
    padding-right:0px;
}

#tagsTab{
    padding-left:0px;
    padding-right:0px;
}

#tagsTab{
    padding-left:0px;
    padding-right:0px;
}

